* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;

}

.container {
    position: relative;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    background-color: rgb(221, 221, 221);
    justify-content: center;
}

#heading{
    position:absolute;
    top:5%;
    font-size: 30px;
}